@font-face {
    font-family: "DustWest";
    src: url(../assets/Dust_West.woff);
}

.dust {
    font-weight: 100;
}

.marge {
    margin-left: 5em;
}

.justifie {
    text-align:justify;
    text-justify:newspaper;
}

section {
  padding: 50px;
}

@media(min-width: 768px){
.logo-top {
    margin-top: 50px;
    margin-left: 35vw;
    width: 30vw;
}
}

@media(max-width: 768px){
.logo-top {
    margin-top: 50px;
    margin-left: 20vw;
    width: 60vw;
}



}

